@model P_Progra_Web.Models.ContactList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContactList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PrimerUserId" class="control-label"></label>
                <select asp-for="PrimerUserId" class="form-control" asp-items="ViewBag.PrimerUserId"></select>
                <span asp-validation-for="PrimerUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoUserId" class="control-label"></label>
                <select asp-for="SegundoUserId" class="form-control" asp-items="ViewBag.SegundoUserId"></select>
                <span asp-validation-for="SegundoUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <input asp-for="StatusId" class="form-control" />
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecTransac" class="control-label"></label>
                <input asp-for="FecTransac" class="form-control" />
                <span asp-validation-for="FecTransac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
