@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="estilos/style.css">
    <title> Login </title>
</head>
<body>
    <div id="Usuario">
        <input type="text" placeholder="Usuario">
    </div>
    <div>
        <input type="text" placeholder="Contraseña">
    </div>
    <div>
        <!-- Por ahora solo se está simulando el html, sin embargo, ya en el controlador del MVC se realizarán las validaciones correspondientes. -->
        <button onclick="window.location.href = 'mantenimiento-read.html'"> Ingresar </button>
        <button> Crear Usuario </button>
    </div>
    <div>
        <a href="mantenimiento-create.html"> Create User </a>
    </div>
</body>
</html>

